/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { PowerPathCore } from "../core.js";
import { encodeJSON } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { PowerPathError } from "../models/errors/powerpatherror.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Create new attempt
 *
 * @remarks
 * Creates a new attempt for a student in a lesson if the current attempt is completed.
 *
 * For Assessment Bank lessons:
 * - This will also update the state for the student, creating a new entry to associate the new attempt number with a different sub-resource of the test bank.
 * - If the lesson is taken again by the student, a different test may be served, considering the new resource it points to configures a different test.
 * - The sub-test is determined using round-robin logic over the sub-resources of the lesson's Assessment Bank Resource object.
 *
 *   - So for example, if a lesson configures 2 sub-tests, the first attempt serves test 1, the second attempt serves test 2, the third attempt serves test 1 again, and so on.
 *
 * A 'Lesson' in this context is a ComponentResource object which has a Resource object associated with it.
 */
export function lessonsCreateAttempt(
  client: PowerPathCore,
  request?: operations.CreateNewAttemptRequest | undefined,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.CreateNewAttemptResponse,
    | errors.BadRequestResponseError
    | errors.UnauthorizedRequestResponseError
    | errors.ForbiddenResponseError
    | errors.NotFoundResponseError
    | errors.UnprocessableEntityResponseError
    | errors.TooManyRequestsResponseError
    | errors.InternalServerErrorResponse
    | PowerPathError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: PowerPathCore,
  request?: operations.CreateNewAttemptRequest | undefined,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.CreateNewAttemptResponse,
      | errors.BadRequestResponseError
      | errors.UnauthorizedRequestResponseError
      | errors.ForbiddenResponseError
      | errors.NotFoundResponseError
      | errors.UnprocessableEntityResponseError
      | errors.TooManyRequestsResponseError
      | errors.InternalServerErrorResponse
      | PowerPathError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      operations.CreateNewAttemptRequest$outboundSchema.optional().parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = payload === undefined
    ? null
    : encodeJSON("body", payload, { explode: true });

  const path = pathToFunc("/powerpath/createNewAttempt")();

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));

  const securityInput = await extractSecurity(client._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "createNewAttempt",
    oAuth2Scopes: [],

    resolvedSecurity: requestSecurity,

    securitySource: client._options.security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["400", "401", "403", "404", "422", "429", "4XX", "500", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.CreateNewAttemptResponse,
    | errors.BadRequestResponseError
    | errors.UnauthorizedRequestResponseError
    | errors.ForbiddenResponseError
    | errors.NotFoundResponseError
    | errors.UnprocessableEntityResponseError
    | errors.TooManyRequestsResponseError
    | errors.InternalServerErrorResponse
    | PowerPathError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, operations.CreateNewAttemptResponse$inboundSchema),
    M.jsonErr(400, errors.BadRequestResponseError$inboundSchema),
    M.jsonErr(401, errors.UnauthorizedRequestResponseError$inboundSchema),
    M.jsonErr(403, errors.ForbiddenResponseError$inboundSchema),
    M.jsonErr(404, errors.NotFoundResponseError$inboundSchema),
    M.jsonErr(422, errors.UnprocessableEntityResponseError$inboundSchema),
    M.jsonErr(429, errors.TooManyRequestsResponseError$inboundSchema),
    M.jsonErr(500, errors.InternalServerErrorResponse$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
