/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { PowerPathCore } from "../core.js";
import { encodeFormQuery } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { PowerPathError } from "../models/errors/powerpatherror.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Import external test assignment results
 *
 * @remarks
 * Retrieves and stores the results of the external test assignment:
 * - Applies to both 'test-out' and 'placement' lessons.
 *
 * This logic changes depending on the stored "toolProvider" of the lesson:
 * - For "edulastic" (currently the only one supported):
 *
 *   - If the lesson is already finalized, no data import is performed.
 *   - If the lesson is not finalized, this will start populating the test and question results with available data, including question scores and feedback. The test will then be deemed finalized when all questions have been answered and the test grade is "GRADED".
 *
 * Will fail if:
 * - The lesson is not an external "test-out" or "placement", or the student does not exist
 * - Credentials for data consumption are not available in the test result of this student (meaning a previous test assignment was not made)
 * - Any other problem on the Edulastic API being used that may happen
 *
 * The actual test results can be retrieved by using the "getAssessmentProgress" endpoint.
 *
 * A 'Lesson' in this context is a ComponentResource object which has a Resource object with lessonType = "test-out" or "placement" associated with it.
 */
export function powerPathCourseMasteryImportExternalTestAssignmentResults(
  client: PowerPathCore,
  request: operations.ImportExternalTestAssignmentResultsRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.ImportExternalTestAssignmentResultsResponse,
    | errors.BadRequestResponseError
    | errors.UnauthorizedRequestResponseError
    | errors.ForbiddenResponseError
    | errors.NotFoundResponseError
    | errors.UnprocessableEntityResponseError
    | errors.TooManyRequestsResponseError
    | errors.InternalServerErrorResponse
    | PowerPathError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: PowerPathCore,
  request: operations.ImportExternalTestAssignmentResultsRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.ImportExternalTestAssignmentResultsResponse,
      | errors.BadRequestResponseError
      | errors.UnauthorizedRequestResponseError
      | errors.ForbiddenResponseError
      | errors.NotFoundResponseError
      | errors.UnprocessableEntityResponseError
      | errors.TooManyRequestsResponseError
      | errors.InternalServerErrorResponse
      | PowerPathError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      operations.ImportExternalTestAssignmentResultsRequest$outboundSchema
        .parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const path = pathToFunc("/powerpath/importExternalTestAssignmentResults")();

  const query = encodeFormQuery({
    "applicationName": payload.applicationName,
    "lesson": payload.lesson,
    "student": payload.student,
  });

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const securityInput = await extractSecurity(client._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "importExternalTestAssignmentResults",
    oAuth2Scopes: [],

    resolvedSecurity: requestSecurity,

    securitySource: client._options.security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["400", "401", "403", "404", "422", "429", "4XX", "500", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.ImportExternalTestAssignmentResultsResponse,
    | errors.BadRequestResponseError
    | errors.UnauthorizedRequestResponseError
    | errors.ForbiddenResponseError
    | errors.NotFoundResponseError
    | errors.UnprocessableEntityResponseError
    | errors.TooManyRequestsResponseError
    | errors.InternalServerErrorResponse
    | PowerPathError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(
      200,
      operations.ImportExternalTestAssignmentResultsResponse$inboundSchema,
    ),
    M.jsonErr(400, errors.BadRequestResponseError$inboundSchema),
    M.jsonErr(401, errors.UnauthorizedRequestResponseError$inboundSchema),
    M.jsonErr(403, errors.ForbiddenResponseError$inboundSchema),
    M.jsonErr(404, errors.NotFoundResponseError$inboundSchema),
    M.jsonErr(422, errors.UnprocessableEntityResponseError$inboundSchema),
    M.jsonErr(429, errors.TooManyRequestsResponseError$inboundSchema),
    M.jsonErr(500, errors.InternalServerErrorResponse$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
