/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { PowerPathCore } from "../core.js";
import { encodeFormQuery } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { PowerPathError } from "../models/errors/powerpatherror.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Get current level
 *
 * @remarks
 * Returns the current level of the student in a placement process:
 * - The level is determined by the last completed placement test's grade level, starting from the lowest grade level available for the subject's placement tests.
 * - As the student completes placement tests and attains scores of 90 or greater, their level updates to the next level available for the subject.
 *
 * Also returns the 'onboarded' boolean that indicates if the student completed the onboarding process for the subject:
 * - A 'onboarded = true' means they either completed and passed all placement tests or they have gotten a score smaller than 90 in the last completed placement test.
 * - A 'onboarded = false' means they haven't completed placement tests yet or have achieved a score of 90 or greater in the last completed placement test and there are more tests to take.
 */
export function powerPathPlacementGetCurrentLevel(
  client: PowerPathCore,
  request: operations.GetCurrentLevelRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.GetCurrentLevelResponse,
    | errors.BadRequestResponseError
    | errors.UnauthorizedRequestResponseError
    | errors.ForbiddenResponseError
    | errors.NotFoundResponseError
    | errors.UnprocessableEntityResponseError
    | errors.TooManyRequestsResponseError
    | errors.InternalServerErrorResponse
    | PowerPathError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: PowerPathCore,
  request: operations.GetCurrentLevelRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.GetCurrentLevelResponse,
      | errors.BadRequestResponseError
      | errors.UnauthorizedRequestResponseError
      | errors.ForbiddenResponseError
      | errors.NotFoundResponseError
      | errors.UnprocessableEntityResponseError
      | errors.TooManyRequestsResponseError
      | errors.InternalServerErrorResponse
      | PowerPathError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) => operations.GetCurrentLevelRequest$outboundSchema.parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const path = pathToFunc("/powerpath/placement/getCurrentLevel")();

  const query = encodeFormQuery({
    "student": payload.student,
    "subject": payload.subject,
  });

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.oAuth2);
  const securityInput = secConfig == null ? {} : { oAuth2: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "getCurrentLevel",
    oAuth2Scopes: [],

    resolvedSecurity: requestSecurity,

    securitySource: client._options.oAuth2,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["400", "401", "403", "404", "422", "429", "4XX", "500", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.GetCurrentLevelResponse,
    | errors.BadRequestResponseError
    | errors.UnauthorizedRequestResponseError
    | errors.ForbiddenResponseError
    | errors.NotFoundResponseError
    | errors.UnprocessableEntityResponseError
    | errors.TooManyRequestsResponseError
    | errors.InternalServerErrorResponse
    | PowerPathError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, operations.GetCurrentLevelResponse$inboundSchema),
    M.jsonErr(400, errors.BadRequestResponseError$inboundSchema),
    M.jsonErr(401, errors.UnauthorizedRequestResponseError$inboundSchema),
    M.jsonErr(403, errors.ForbiddenResponseError$inboundSchema),
    M.jsonErr(404, errors.NotFoundResponseError$inboundSchema),
    M.jsonErr(422, errors.UnprocessableEntityResponseError$inboundSchema),
    M.jsonErr(429, errors.TooManyRequestsResponseError$inboundSchema),
    M.jsonErr(500, errors.InternalServerErrorResponse$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
